body {
  background-color: #ffffff;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 14px;
  line-height: 20px;
  color: #333333;
  padding-top: 60px;
}

h1 {
  font-size: 36px;
  line-height: 40px;
  color: #333333;
  margin-bottom: 20px;
  text-align: center;
}

.healthcare-form {
  background-color: #ffffff;
  padding: 40px;
  margin: 0 auto;
  max-width: 500px;
  border-radius: 3px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
  box-sizing: border-box;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 400;
  color: #b62e2e;
  text-align: center;
}
