{% load static from staticfiles %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Healthcare Fraud-check Application</title>
    <link href="{% static 'css/style2.css' %}" rel="stylesheet" />
  </head>
  <body>
    <h1>Healthcare Fraud-check Application</h1>
    <hr />
    {% if result %}
    <h1>Class you're trying to classify is {{result}}</h1>
    {% endif %}

    <div class="healthcare-form" class="label-name">
      <form action="" method="POST" class="label-name-form">
        {% csrf_token %}
          <div class="form-input">
                  <label for="country_code" >Country Code of the Provider: </label>
                  <select name="country_code" id="country_code_id">
                    <option value="0">US</option>
                    <option value="1">Others</option></select
                  ><br />
                </div>
          <div class="form-input">

        <label for="gender" >Gender of the Provider: </label>
        <select name="gender" id="gender_id">
          <option value="0">Female</option>
          <option value="1">Male</option></select
        ><br />
      </div>
      <div class="form-input">

        <label for="medicare_participation" 
          >Medicare Participation Indicator:
        </label>
        <select name="medicare_participation" id="medicare_participation_id">
          <option value="0">Yes</option>
          <option value="1">No</option></select
        ><br />
      </div>
      <div class="form-input">

        <label for="place_of_service" >Place of Service: </label>
        <select name="place_of_service" id="place_of_service_id">
          <option value="0">F</option>
          <option value="1">O</option></select
        ><br />
      </div>
        <div class="form-input">

        <label for="hcpcs_drug_indicator" >HCPCS Drug Indicator: </label>
        <select name="hcpcs_drug_indicator" id="hcpcs_drug_indicator_id">
          <option value="0">No</option>
          <option value="1">Yes</option></select
        ><br />
        </div>
        <div class="form-input">

        <label for="credentials_provider" >Credentials of the Provider: </label>
        <select name="credentials_provider" id="credentials_provider_id">
          <option value="1">MD</option>
          <option value="2">DPM</option>
          <option value="3">DO</option>
          <option value="4">DPT</option>
          <option value="5">PAC</option>
          <option value="6">CRNA</option>
          <option value="7">FNP</option>
          <option value="8">PA</option>
          <option value="9">OD</option>
          <option value="10">PT</option>
          <option value="11">MDPHD</option>
          <option value="12">NP</option>
          <option value="0">Others</option></select
        ><br />
        </div>
        <div class="form-input">

        <label for="state_code_provider" >State Code of the Provider: </label>
        <select name="state_code_provider" id="state_code_provider_id">
          <option value="1">NC</option>
          <option value="2">FL</option>
          <option value="3">VA</option>
          <option value="4">CA</option>
          <option value="5">PA</option>
          <option value="6">TX</option>
          <option value="7">NJ</option>
          <option value="8">OH</option>
          <option value="9">NY</option>
          <option value="10">IL</option>
          <option value="11">MA</option>
          <option value="12">GA</option>
          <option value="13">MI</option>
          <option value="14">TN</option>
          <option value="0">Others</option></select
        ><br />
        </div>
        <div class="form-input">

        <label for="provider_type" >Provider Type: </label>
        <select name="provider_type" id="provider_type_id">
          <option value="1">Internal Medicine</option>
          <option value="2">Obstetrics & Gynecology</option>
          <option value="3">Podiatry</option>
          <option value="4">Physical Therapist in Private Practice</option>
          <option value="5">Diagnostic Radiology</option>
          <option value="6">Family Practice</option>
          <option value="7">Clinical Laboratory</option>
          <option value="8">General Surgery</option>
          <option value="9">Physician Assistant</option>
          <option value="10">Cardiology</option>
          <option value="11">Anesthesiology</option>
          <option value="12">Gastroenterology</option>
          <option value="13">Nurse Practitioner</option>
          <option value="14">Certified Registered Nurse Anesthetist (CRNA)</option>
          <option value="15">Mass Immunizer Roster Biller</option>
          <option value="16">Pulmonary Disease</option>
          <option value="17">Neurology</option>
          <option value="18">Orthopedic Surgery</option>
          <option value="19">Emergency Medicine</option>
          <option value="20">Dermatology</option>
          <option value="21">Ophthalmology</option>
          <option value="22">Hematology-Oncology</option>
          <option value="23">Urology</option>
          <option value="24">Optometry</option>
          <option value="25">Pathology</option>
          <option value="26">Nephrology</option>
          <option value="0">Others</option></select
        ><br />
        </div>
        <div class="form-input">
        <label> of Medicare Beneficiaries : </label>
        <input type="number" name="Number of Medicare Beneficiaries" required></input><br />
        </div>
        <div class="form-input">
        <label>Average Submitted Charge Amount : </label>
        <input type="number" name="Average Submitted Charge Amount" required></input><br />
        </div>
        <div class="form-input">
        <label>Average Medicare Standardized Amount : </label>
        <input type="number" name="Average Medicare Standardized Amount" required></input><br />
        </div>
        <input type="submit" />
     
      </form>
    </div>
  </body>
</html>
